@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pan Karol</title>
</head>
<body>
    <h1>Karol</h1>
    <div id="authData"></div>
    <div>
        @if (ViewData["AuthData"] != null)
        {
            <h1>@ViewData["AuthData"]</h1>
        }
        else
        {
            <h1>Brak pogody</h1>
        }
    </div>
</body>
</html>